.Hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 35vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-color: hsla(0, 0%, 0%, 0.8);
    transition: background-image 1s;
}
@media (min-width: 400px) {
    .Hero {
        background-size: cover;
        background-position: center top 20%;
    }}
    @media (min-width: 768px) {
        .Hero {
            min-height: 80vh;
        }}
@media (min-width: 991px) {
.Hero {
    background-position: top;
}}
.Hero_Heading {
    font-size: 24px;
    color: var(--color-light-grey); 
    text-align: center;
    opacity: 0; 
    transition: opacity 2s ease;
}
@media (min-width: 991px) {
    .Hero_Heading {
        font-size: 32px; 
    }
}
.Heading--fade { opacity: 1; }

