.catalog {
  max-width: var(--width-tablet);
  padding: 40px 16px;
  margin: 0 auto;
}
@media (min-width: 991px) {
  .catalog {
    max-width: var(--width-desktop);
    padding: 112px 32px;
  }
}

.catalog__heading {
  font-size: var(--h2-size-mob);
  text-align: center;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .catalog__heading {
    font-size: var(--h2-size-tab);
  }
}

.catalog__list {
  display: flex;
  gap: 24px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.catalog__card {
  min-width: 300px;
  border: 1.5px solid #000000;
  padding: 16px;
  font-size: var(--p-size-mob);
  text-align: center;
  border-radius: 5px;
  transition: transform 0.5s ease-in-out;
}
@media (min-width: 991px) {
  .catalog__card {
    font-size: var(--p-size-desk);
  }
}

.catalog__card__heading {
  margin-bottom: 20px;
}
