.services_section {
  padding: 32px;
}
.services {
  max-width: 1200px;
  margin: 0 auto;
}
.services_heading {
  margin-bottom: 32px;
  font-size: 32px;
}
.services_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 20px;
  }
  
  .service_card {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
  }
  
  .service_card h3 {
    margin-bottom: 16px;
  }
  
  /* .service_card p {
    margin-bottom: 20px;
  } */
  
  /* .service-card button {
    padding: 10px 20px;
    background-color: hsl(0, 0%, 90%);
    color: hsl(0, 0%, 0%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .service-card button:hover {
    background-color: hsl(0, 0%, 85%);
  }
   */