.contactbar {
  display: none;
  color: var(--color-light-grey);
  background-color: var(--color-navy);
}
@media (min-width: 768px) {
  .contactbar {
    display: block;
  }
}

.contactbar_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: var(--width-tablet);
  padding: 24px 16px;
  margin: 0 auto;
}
@media (min-width: 991px) {
  .contactbar_wrapper {
    max-width: var(--width-desktop);
  }
}

.contactbar_wrapper img {
  display: inline-block;
  width: 32px;
}

.contact_list {
  display: flex;
  gap: 16px;
}

/* .social_list {
  display: flex;
  gap: 16px;
} */

.link {
  display: flex;
  align-items: center;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
.link img {
  margin-right: 6px;
}
.text {
  display: inline-block;
}
