.hero_section {
  background-color: hsl(0, 0%, 20%);
}
.hero {
  max-width: 1200px;
  margin: 0 auto;
    color: #fff;
    text-align: center;
  }
@media (min-width: 991px) {
  .hero {
    display: flex;
    text-align: start;
  }
}
  .hero_image {
    flex: 60% 0 0;
  }
  .hero_text {
    flex: 40% 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    /* background-color: hsl(0, 0%, 20%);  */
    padding: 24px;
  }
  @media (min-width: 991px) {.hero_text {
    align-items: flex-start;
  }}
  .hero_text h1 {
    font-size: 28px;
  }
  .hero-button {
    background-color: hsl(0, 0%, 85%);
    color: hsl(0, 0%, 0%);
    border: none;
    padding: 10px 20px;
    margin-top: 16px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .hero-button:hover {
    background-color: hsl(0, 0%, 70%);
  }
  