.contact__heading__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 16px;
    color: var(--color-light-grey);
    background-color: hsl(0, 0%, 0%);
}
@media (min-width: 991px) {
    .contact__heading__wrapper {
        padding: 112px 32px;
    }
}

.contact__heading {
    padding-bottom: 10px;
  font-size: var(--h2-size-mob);
  border-bottom: 2px solid rgb(255, 115, 0);
}
@media (min-width: 768px) {
  .contact__heading {
    font-size: var(--h2-size-tab);
  }
}