.service-page-box {
  max-width: var(--width-mobile);
  padding: var(--box-padding-mobile);
  margin: 0 auto;
}
@media (min-width: 768px) {
  .service-page-box {
    max-width: var(--width-tablet);
  }
}
@media (min-width: 991px) {
  .service-page-box {
    max-width: var(--width-desktop);
    padding: var(--box-padding-desktop);
  }
}

.service__heading__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px 16px;
  color: var(--color-light-grey);
  background-color: hsl(0, 0%, 0%);
}
@media (min-width: 991px) {
    .service__heading__wrapper {
        padding: 112px 32px;
    }
}

.service__heading {
    padding-bottom: 10px;
  font-size: var(--h2-size-mob);
  border-bottom: 2px solid rgb(255, 115, 0);
}
@media (min-width: 768px) {
  .service__heading {
    font-size: var(--h2-size-tab);
  }
}

.service__content_wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: var(--p-size-mob);
    
}
@media (min-width: 768px) {
  .service__content_wrapper {
    font-size: var(--p-size-tab);
  }
}
@media (min-width: 991px) {
  .service__content_wrapper {
    font-size: var(--p-size-desk);
  }
}
.service__para {
  font-size: var(--p-size-mob);
}
@media (min-width: 991px) {
  .service__para {
    font-size: var(--p-size-desk);
  }
}

.content-info-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.bold-text {
  font-weight: 700;
}