.contact {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    max-width: 600px;
    padding: 48px 16px;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .contact {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1200px;
        padding: 112px 32px;
    }
}
.contact_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
    background-color: var(--color-light-grey);
    border-radius: 5px;
}
.contact_card img {
    width: 28px;
}
.contact_card h4 {
    font-size: 20px;
}
.contact_card p {
    text-align: center;
}
.contact_card a {
    color: black;
    text-decoration: none;
}